<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extensions</key>
	<array>
        	<string>arw</string>
		<string>bay</string>
		<string>bmq</string>
		<string>cr2</string>
		<string>crw</string>
		<string>cs1</string>
		<string>dc2</string>
		<string>dcr</string>
		<string>erf</string>
		<string>dng</string>
		<string>fff</string>
		<string>k25</string>
		<string>kdc</string>
                <string>mef</string>
		<string>mos</string>
		<string>mrw</string>
		<string>nef</string>
		<string>orf</string>
		<string>pef</string>
                <string>ptx</string>
		<string>raf</string>
		<string>raw</string>
		<string>r3d</string>
		<string>rdc</string>
		<string>srf</string>
		<string>sr2</string>
		<string>x3f</string>
	</array>
</dict>
</plist>
